<h3>Sorted String : </h3><h4><%= @new_string.keys.join(' => ') %> </h4>
<table class="table table-striped">
	<thead class="tablehead text-white">
	  <tr>
	    <th>Word</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
		<% @new_string.each do |k ,v| %>
		  <tr>
		    <td><%= k %></td>
		    <td><%= v %></td>
		  </tr>
	  <% end %>
	</tbody>
</table>
