// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.tablehead {
	background-color:  #4d4dff;
}

.text-white {
	color: white;
}

.c_info {
	background-color: #4d4dff;
	padding: 1px 0px 1px 22px;
    margin-bottom: 35px;
    color: white;
}
